<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Service Survey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body class="complete-page">
<div class="background-box">
    <div class="logo">
        <img src="{{ url_for('static', filename='Images/SantiClinicLogo.jpg') }}" class="img-fluid" alt="Logo">
    </div>
    <h1>Obrigado pelo seu apoio!</h1>
        <p>Os seus dados foram submetidos e esperamos que tenha um ótimo dia.</p>

</div>
</body>
</html>